.content{
  padding: 1rem;
  padding-top: 5rem;
 margin-bottom: 2rem;

}
.example-container {
  height: 500px;
  max-width: 100%;
  overflow: auto;

}

table {
  width: 800px;
}
th{
  text-align: center;
}
td{
  text-align: center;
}
.card
{
  border-radius: 10px;
}

@media(400px<= width){
  .text-heading{
    font-size: 40px;
  }
}
@media(100px<= width <= 350px){
  .text-heading{
    font-size: 20px;
  }
}
