<div class="container-fluid">
	<div class="row model-head mb-2">
	    <div class="col-lg-12 col-md-12 col-sm-12 pt-1">
	      <div class="model-title">Sort Devices </div>
	    </div>
	</div>
	<div class="row">
    	<div class="col-12 mb-2">
        <mat-radio-group [formControl]="selectedSortOptionFormControl">
          <div class="row">
            <div class="col-12 mb-2">
              <mat-radio-button value="DeviceName A-Z">Device Name A - Z</mat-radio-button>
            </div>
            <div class="col-12 mb-2">
              <mat-radio-button value="DeviceName Z-A">Device Name Z - A</mat-radio-button>
            </div>
            <div class="col-12 mb-2">
              <mat-radio-button value="DeviceUID A-Z">Device Unique ID A - Z</mat-radio-button>
            </div>
            <div class="col-12 mb-2">
              <mat-radio-button value="DeviceUID Z-A">Device Unique ID Z - A</mat-radio-button>
            </div>
          </div>
        </mat-radio-group>
        <mat-error *ngIf="selectedSortOptionFormControl.invalid && selectedSortOptionFormControl.touched">
          Please select a sorting option.
        </mat-error>
  
      </div>
      <div class="col-12 justify-content-center d-flex mb-2">
        <div class="row">
          <div class="col">
            <button mat-raised-button (click)="onNoClick()">Close</button>
          </div>
          <div class="col">
            <button mat-raised-button color="primary" (click)="onSaveClick()">Apply</button>
          </div>
        </div>
      </div>
  </div>
</div>