<div class="container-fluid">
    <div class="row edit-head mb-2">
      <div class="col-lg-12 col-md-12 col-sm-12 pt-1">
        <div class="edit-title">Edit - Device Details</div>
      </div>
    </div>
    <div *ngIf="activeDevices.length > 0">
      <h2>Active Devices</h2>
      <div class="row">
        <div class="col-lg-4" *ngFor="let device of activeDevices">
          <!-- Card for active device -->
          <div class="card">
            <div class="card-body">
              <!-- Display device details -->
              <h5 class="card-title">{{ device.DeviceName }}</h5>
              <!-- Add more details as needed -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Disconnected Devices -->
    <div *ngIf="disconnectedDevices.length > 0">
      <h2>Disconnected Devices</h2>
      <div class="row">
        <div class="col-lg-4" *ngFor="let device of disconnectedDevices">
          <!-- Card for disconnected device -->
          <div class="card">
            <div class="card-body">
              <!-- Display device details -->
              <h5 class="card-title">{{ device.DeviceName }}</h5>
              <!-- Add more details as needed -->
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-12 justify-content-center d-flex mb-2">
        <div class="row">
          <div class="col">
            <button mat-raised-button (click)="onNoClick()">Close</button>
          </div>
          <div class="col">
            <button mat-raised-button color="primary" (click)="onSaveClick()">Filter</button>
          </div>
        </div>
      </div>
  
  <!--     <div class="col-md-12 mb-2">
        <div class="text-center">
          <button mat-stroked-button color="primary" class="download-button" style="width: 60%" (click)="downloadPDF()">
            <mat-icon>file_download</mat-icon>
            Download Report
          </button>
        </div>
      </div> -->
    </div>

  