<div class="container-fluid">
  <div class="row edit-head mb-2">
    <div class="col-lg-12 col-md-12 col-sm-12 pt-1">
      <div class="edit-title">Edit - Device Details</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mb-1">
      <mat-form-field appearance="outline" class="from-field">
        <mat-label>Device Name</mat-label>
        <mat-select required [formControl]="selectedDevice" [(ngModel)]="deviceName">
          <mat-option *ngFor="let device of deviceOptions" [value]="device.DeviceName" (click)="open(device)">
            {{ device.DeviceName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="selectedDevice.invalid">
          Please select a device.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-12 mb-1">
      <mat-radio-group [(ngModel)]="selectedRadioButton">
        <div class="row">
          <div class="col-lg-12">
            <mat-radio-button value="Last">Last</mat-radio-button>
            <div *ngIf="selectedRadioButton === 'Last'">
              <mat-form-field appearance="outline" class="from-field-sm">
                <mat-label>Last</mat-label>
                <mat-select [(ngModel)]="selectedDeviceInterval">
                  <mat-option value="1hour">1 Hour</mat-option>
                  <mat-option value="12hour">12 Hours</mat-option>
                  <mat-option value="1day">1 Day</mat-option>
                  <mat-option value="7day">7 Days</mat-option>
                  <mat-option value="30day">30 Days</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-12">
            <mat-radio-button value="Custom">Custom</mat-radio-button>
            <div *ngIf="selectedRadioButton === 'Custom'">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" class="from-field-sm">
                    <input matInput [matDatepicker]="startDatePicker" [max]="currentDate" placeholder="Start Date" [formControl]="start_date" (dateChange)="updateStartDate($event)">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                    <mat-error *ngIf = "start_date.invalid">Start Date is Required*</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline" class="from-field-sm">
                    <input matInput [min]="startDate" [max]="currentDate" [matDatepicker]="endDatePicker" placeholder="End Date" [formControl]="end_date">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                    <mat-error *ngIf = "end_date.invalid">End Date is Required*</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-radio-group>
    </div>
    <div class="col-12 justify-content-center d-flex mb-2">
      <div class="row">
        <div class="col">
          <button mat-raised-button (click)="onNoClick()">Close</button>
        </div>
        <div class="col">
          <button mat-raised-button color="primary" (click)="onSaveClick()">Filter</button>
        </div>
      </div>
    </div>

<!--     <div class="col-md-12 mb-2">
      <div class="text-center">
        <button mat-stroked-button color="primary" class="download-button" style="width: 60%" (click)="downloadPDF()">
          <mat-icon>file_download</mat-icon>
          Download Report
        </button>
      </div>
    </div> -->
  </div>
</div>
