<div *ngIf="dashService.pageLoading">
  <app-page-loading></app-page-loading>
</div>
<div *ngIf="!dashService.pageLoading">
<section class="cards container-fluid">
  <div class="row">
<!--     <div class="col-lg-12 col-md-12 col-sm-12">
      <mat-card class="title-card">
        <mat-card-content>
          <div class="d-flex">
            <p class="title-card-head">Hello, {{ fname }} {{ lname }}</p>
          <p class="ms-auto title-card-head">Welcome to the Dashbord</p>
        </div>
        </mat-card-content>
      </mat-card>
    </div> -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let device of userDevices">
      <div class="row">
        <div class="col-{{ getUserType() === 'Admin' ? '10' : '12' }}">
          <mat-card [class.alert-overlay]="isDeviceHeated(device.DeviceUID)" [class.warn-overlay]="!isDeviceConnected(device.DeviceUID)">
            <mat-card-content>
              <div class="row">
                <div class="col-8">
                  <div class="device-name">{{ device.DeviceName}}</div>
                </div>
                <div class="col-4 card-title-right">
                  <div class="device-time">
                    <div *ngIf="isDeviceConnected(device.DeviceUID)" class="live-tag">Live</div>
                    <div *ngIf="!isDeviceConnected(device.DeviceUID)" class="disconnected-tag">Disconnect</div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="device.DeviceType === 'th'">
                <div class="col-6 d-flex">
                  <img src="../../../../assets/img/tm.gif" class="card-img">
                  <div class="image-text"> {{ (deviceData[getIndex(device.DeviceUID)]?.Temperature|| 0).toFixed(0) }} &deg;C
                  </div>
                </div>
                <div class="col-6 d-flex">
                  <img src="../../../../assets/img/hm.gif" class="card-img">
                  <div class="image-text">{{ (deviceData[getIndex(device.DeviceUID)]?.Humidity|| 0).toFixed(0) }}%</div>
                </div>
              </div>
              <div class="row" *ngIf="device.DeviceType === 'ryb'">
                <div class="col-4 d-flex">
                  <img src="../../../../assets/img/tm.gif" class="card-img-ryb">
                  <div class="image-text-ryb"> {{ (deviceData[getIndex(device.DeviceUID)]?.TemperatureR|| 0).toFixed(0) }} &deg;C</div>
                </div>
                <div class="col-4 d-flex">
                  <img src="../../../../assets/img/tm.gif" class="card-img-ryb">
                  <div class="image-text-ryb">{{ (deviceData[getIndex(device.DeviceUID)]?.TemperatureY|| 0).toFixed(0) }} &deg;C</div>
                </div>
                <div class="col-4 d-flex">
                  <img src="../../../../assets/img/tm.gif" class="card-img-ryb">
                  <div class="image-text-ryb">{{ (deviceData[getIndex(device.DeviceUID)]?.TemperatureB|| 0).toFixed(0) }} &deg;C</div>
                </div>
              </div>
              <div class="row" *ngIf="device.DeviceType === 't'">
                <div class="col-12 d-flex">
                  <img src="../../../../assets/img/tm.gif" class="card-img">
                  <div class="image-text"> {{ (deviceData[getIndex(device.DeviceUID)]?.Temperature|| 0).toFixed(0) }} &deg;C</div>
                </div>
              </div>
              <div class="row" *ngIf="device.DeviceType === 'h'">
                <div class="col-12 d-flex">
                  <img src="../../../../assets/img/hm.gif" class="card-img">
                  <div class="image-text"> {{ (deviceData[getIndex(device.DeviceUID)]?.Temperature|| 0).toFixed(0) }} &deg;C</div>
                </div>
              </div>
              <div class="row" *ngIf="device.DeviceType === 'ws'">
                <div class="col-4 d-flex">
                  <img src="../../../../assets/img/ws1.png" class="card-img-ryb">
                  <div class="image-text-ws-3">{{ (deviceData[getIndex(device.DeviceUID)]?.flowRate || 00).toFixed(0) }} 
                    <div class="image-text-ws-3">l/hr</div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="image-text-ws">{{ consumptionData[getIndexConsumption(device.DeviceUID)]?.todayConsumption|| 0 }} L</div>
                  <div class="image-text-ws-2">
                    <span class="{{ consumptionData[getIndexConsumption(device.DeviceUID)]?.percentageChange >= 0 ? 'up' : 'down' }}">
                      {{ getAbsPercentageChange(consumptionData[getIndexConsumption(device.DeviceUID)]?.dailyPercentageChange).arrow }}
                      {{ getAbsPercentageChange(consumptionData[getIndexConsumption(device.DeviceUID)]?.dailyPercentageChange).value || 0 }}%
                    </span>
                    Today
                  </div>
                </div>
                <div class="col-4">
                  <div class="image-text-ws">{{ consumptionData[getIndexConsumption(device.DeviceUID)]?.thisMonthConsumption }} KL</div>
                  <div class="image-text-ws-2"><span class="{{ consumptionData[getIndexConsumption(device.DeviceUID)]?.monthlyPercentageChange >= 0 ? 'up' : 'down' }}">
                      {{ getAbsPercentageChange(consumptionData[getIndexConsumption(device.DeviceUID)]?.monthlyPercentageChange).arrow }}
                      {{ getAbsPercentageChange(consumptionData[getIndexConsumption(device.DeviceUID)]?.monthlyPercentageChange).value|| 0 }}%
                    </span>This Month</div>
                </div>
              </div>
              <div class="row" *ngIf="device.DeviceType === 'fs'">
                <div class="col-4 d-flex">
                  <img src="../../../../assets/img/ws1.png" class="card-img-ryb">
                  <div class="image-text-ws-3">{{ (deviceData[getIndex(device.DeviceUID)]?.flowRate || 00).toFixed(0) }} 
                    <div class="image-text-ws-3">l/hr</div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="image-text-ws">{{ consumptionData[getIndexConsumption(device.DeviceUID)]?.todayConsumption|| 0 }} L</div>
                  <div class="image-text-ws-2">
                    <span class="{{ consumptionData[getIndexConsumption(device.DeviceUID)]?.percentageChange >= 0 ? 'up' : 'down' }}">
                      {{ getAbsPercentageChange(consumptionData[getIndexConsumption(device.DeviceUID)]?.percentageChange).arrow }}
                      {{ getAbsPercentageChange(consumptionData[getIndexConsumption(device.DeviceUID)]?.percentageChange).value || 0 }}%
                    </span>
                    Today
                  </div>
                </div>
                <div class="col-4">
                  <div class="image-text-ws">{{ consumptionData[getIndexConsumption(device.DeviceUID)]?.thisMonthConsumption }} KL</div>
                  <div class="image-text-ws-2"><span class="{{ consumptionData[getIndexConsumption(device.DeviceUID)]?.monthlyPercentageChange >= 0 ? 'up' : 'down' }}">
                      {{ getAbsPercentageChange(consumptionData[getIndexConsumption(device.DeviceUID)]?.monthlyPercentageChange).arrow }}
                      {{ getAbsPercentageChange(consumptionData[getIndexConsumption(device.DeviceUID)]?.monthlyPercentageChange).value|| 0 }}%
                    </span>This Month</div>
                </div>
              </div>
              <div class="row" *ngIf="device.DeviceType === 'ps'">
                <div class="col-4 d-flex">
                  <img src="../../../../assets/img/ws1.png" class="card-img-ryb">
                  <div class="image-text-ws-3">{{ (deviceData[getIndex(device.DeviceUID)]?.flowRate || 00).toFixed(0) }} 
                    <div class="image-text-ws-3">l/hr</div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="image-text-ws">{{ consumptionData[getIndexConsumption(device.DeviceUID)]?.todayConsumption|| 0 }} L</div>
                  <div class="image-text-ws-2">
                    <span class="{{ consumptionData[getIndexConsumption(device.DeviceUID)]?.percentageChange >= 0 ? 'up' : 'down' }}">
                      {{ getAbsPercentageChange(consumptionData[getIndexConsumption(device.DeviceUID)]?.percentageChange).arrow }}
                      {{ getAbsPercentageChange(consumptionData[getIndexConsumption(device.DeviceUID)]?.percentageChange).value || 0 }}%
                    </span>
                    Today
                  </div>
                </div>
                <div class="col-4">
                  <div class="image-text-ws">{{ consumptionData[getIndexConsumption(device.DeviceUID)]?.thisMonthConsumption }} KL</div>
                  <div class="image-text-ws-2"><span class="{{ consumptionData[getIndexConsumption(device.DeviceUID)]?.monthlyPercentageChange >= 0 ? 'up' : 'down' }}">
                      {{ getAbsPercentageChange(consumptionData[getIndexConsumption(device.DeviceUID)]?.monthlyPercentageChange).arrow }}
                      {{ getAbsPercentageChange(consumptionData[getIndexConsumption(device.DeviceUID)]?.monthlyPercentageChange).value|| 0 }}%
                    </span>This Month</div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div class="type-text" *ngIf="device.DeviceType === 'ryb'">RYB</div>
          <div class="type-text" *ngIf="device.DeviceType === 't'">Temperature</div>
          <div class="type-text" *ngIf="device.DeviceType === 'h'">Humidity</div>
          <div class="type-text" *ngIf="device.DeviceType === 'th'">Temp-Humdity</div>
          <div class="type-text" *ngIf="device.DeviceType === 'ws'">Water Sensor</div>
          <div class="type-text" *ngIf="device.DeviceType === 'fs'">Flow  Sensor</div>
          <div class="type-text" *ngIf="device.DeviceType === 'ps'">Pressure Sensor</div>
        </div>
        <div class="col-2" *ngIf="getUserType() === 'Admin'">
          <div class="d-flex flex-column align-items-left">
            <button mat-mini-fab color="warn" class="mb-2 card-buttons" (click)="openEditDeviceDialog(device)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="" class="mb-2 card-buttons" (click)="openTriggerDeviceDialog(device)">
              <mat-icon>notifications_active</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<button mat-mini-fab class="filter-button" (click)="openDashFilterDailog()">
  <mat-icon>swap_vert</mat-icon>
</button>
