<section class="data container-fluid">
	<div class="row mb-2">
		<div class="col-lg-4 col-md-12 col-sm-12 mb-2">
			<mat-card class="mb-2 data-charts">
				<div class="spinner-container" *ngIf="loading1">
		      <mat-spinner class="custom-spinner"></mat-spinner>
		    </div>
				<div *ngIf="!loading1">
				  <mat-card-content>
				    <div class="panel-title">
				      <mat-icon>devices</mat-icon>
				       Device Panel
				      <button mat-icon-button color="primary" class="refresh-button" (click)="refresh()">
				        <mat-icon>refresh</mat-icon>
				      </button>
				    </div>
			  		<div class="panel-device-name d-flex">Device Name: 
			  			<div class="ms-auto">{{ DeviceName }}</div>
			  		</div>
			  		<div *ngIf="DeviceType === 'ryb' || DeviceType === 'th'|| DeviceType === 't'">
				  		<div class="panel-device-trigger d-flex">Trigger: 
				  			<div class="ms-auto">{{ DeviceTrigger }}</div>
				  		</div>	
			  		</div>			  
						<div *ngIf="DeviceType === 'ryb'">
							<div class="row mb-2">
								<div class="col-lg-12 col-md-4">
									<div class="temp ryb-th-t d-flex" [class.ryb-alert]="DeviceTemperatureR > DeviceTrigger">
										Temperature R: <div class="ms-auto">{{ DeviceTemperatureR }}</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-4">
									<div class="temp ryb-th-t d-flex" [class.ryb-alert]="DeviceTemperatureY > DeviceTrigger">
										Temperature Y: <div class="ms-auto">{{ DeviceTemperatureY }}</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-4">
									<div class="temp ryb-th-t d-flex" [class.ryb-alert]="DeviceTemperatureB > DeviceTrigger">
										Temperature B: <div class="ms-auto">{{ DeviceTemperatureB }}</div>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="DeviceType === 'th'">
							<div class="row mb-2">
								<div class="col-lg-12 col-md-4">
									<div class="temp ryb-th-t d-flex">
										Temperature : <div class="ms-auto">{{ DeviceTemperature }}</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-4">
									<div class="temp th-hum d-flex">
										Humidity: <div class="ms-auto">{{ DeviceHumidity }}</div>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="DeviceType === 't'">
							<div class="row mb-2">
								<div class="col-lg-12 col-md-4">
									<div class="temp th-temp d-flex">
										Temperature : <div class="ms-auto">{{ DeviceTemperature }}</div>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="DeviceType === 'h'">
							<div class="row mb-2">
								<div class="col-lg-12 col-md-4">
									<div class="temp th-temp d-flex">
										Humidity : <div class="ms-auto">{{ DeviceTemperature }}</div>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="DeviceType === 'ws'">
							<div class="row pt-2 mb-2">
								<div class="col-lg-12 col-md-6 pt-2 mb-2">
									<div class="temp th-hum d-flex">
										FlowRate: <div class="ms-auto">{{ DeviceFlowRate }} l/hr</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-6 pt-2 mb-2">
									<div class="temp th-hum d-flex">
										Today Consumption: <div class="ms-auto">{{ DeviceTodayConsumption }} KL</div>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="DeviceType === 'ps'">
							<div class="row pt-2 mb-2">
								<div class="col-lg-12 col-md-6 pt-2 mb-2">
									<div class="temp th-hum d-flex">
										PressureRate: <div class="ms-auto">{{ DeviceFlowRate }} l/hr</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-6 pt-2 mb-2">
									<div class="temp th-hum d-flex">
										Today Consumption: <div class="ms-auto">{{ DeviceTodayConsumption }} KL</div>
									</div>
								</div>
							</div>
						</div>
				    <div class="panel-device-time">
				      Last Updated: <span>{{ DeviceLastUpdatedTime }}</span>
				    </div>
				  </mat-card-content>
				</div>
			</mat-card>
			<mat-card class='mb-2 data-charts'>
				<div class="spinner-container" *ngIf="loading1">
		      <mat-spinner class="custom-spinner"></mat-spinner>
		    </div>
				<div *ngIf="!loading1">
				  <mat-card-content>
				  	<div class="container-fluid">
				  		<div class="row">
				  			<div class="col-lg-12 mb-3">
				  				<div class="interval d-flex">Filter Applied:- 
				  					<div class="ms-auto" *ngIf= "deviceINTERVAL === '1hour' || deviceINTERVAL === '12hour' || deviceINTERVAL === '1day' || deviceINTERVAL === '7day' || deviceINTERVAL === '30day'">Last Interval - {{ getDisplayText() }}</div>
				  					<div class="ms-auto" *ngIf= "deviceINTERVAL === 'Custom'">{{ getFormattedDateRange() }}</div>
				  				</div>
				  			</div>
				  		</div>
				  	</div>
				  	<!-- <div id="donutChart" class="chart-container"></div> -->
				  </mat-card-content>
				</div>
			</mat-card>
		</div>
		<div class="col-lg-8 col-md-12 col-sm-12 mb-2">
			<div *ngIf="DeviceType === 'th'">
				<mat-card class="mb-2 data-charts">
				  <mat-card-content>
				  	<div id="curvedLineChart" class="chart-container"></div>
				  </mat-card-content>
				</mat-card>
				<mat-card class="mb-2 data-charts">
				  <mat-card-content>
				  	<div id="curvedLineChart2" class="chart-container"></div>
				  </mat-card-content>
				</mat-card>
			</div>

			<div *ngIf="DeviceType === 't'">
				<mat-card class="mb-2 data-charts-2">
				  <mat-card-content>
				  	<div id="curvedLineChart" class="chart-container-2"></div>
				  </mat-card-content>
				</mat-card>
			</div>
			<div *ngIf="DeviceType === 'h'">
				<mat-card class="mb-2 data-charts-2">
				  <mat-card-content>
				  	<div id="curvedLineChart2" class="chart-container-2"></div>
				  </mat-card-content>
				</mat-card>
			</div>

			<div *ngIf="DeviceType === 'ryb'">
				<mat-card class="mb-2 data-charts-2">
				  <mat-card-content>
				  	<div id="temperatureRYB" class="chart-container-2"></div>
				  </mat-card-content>
				</mat-card>
			</div>
			
			<div *ngIf="DeviceType === 'ws'">
				<mat-card class="mb-2 data-charts">
				  <mat-card-content>
				  	<div id="curvedLineChart3" class="chart-container"></div>
				  </mat-card-content>
				</mat-card>
				<mat-card class="mb-2 data-charts">
				  <mat-card-content>
				  	<div id="barChart" class="chart-container"></div>
				  </mat-card-content>
				</mat-card>
			</div>

			<div *ngIf="DeviceType === 'fs'">
				<mat-card class="mb-2 data-charts">
				  <mat-card-content>
				  	<div id="curvedLineChart3" class="chart-container"></div>
				  </mat-card-content>
				</mat-card>
				<mat-card class="mb-2 data-charts">
				  <mat-card-content>'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.
				  	<div id="barChart" class="chart-container"></div>
				  </mat-card-content>
				</mat-card>
			</div>
			<div *ngIf="DeviceType === 'ps'">
				<mat-card class="mb-2 data-charts">
				  <mat-card-content>
				  	<div id="curvedLineChart3" class="chart-container"></div>
				  </mat-card-content>
				</mat-card>
				<mat-card class="mb-2 data-charts">
				  <mat-card-content>
				  	<div id="barChart" class="chart-container"></div>
				  </mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</section>
<button mat-mini-fab class="filter-button" (click)="openFilterDailog()">
  <mat-icon>filter_list</mat-icon>

</button>