.content{
    padding: 1rem;
    padding-top: 5rem;
   margin-bottom: 5rem;
   
  }
  tr:nth-child(even){
  background-color: whitesmoke;
  }
    
  tr:nth-child(odd){
  background-color: whitesmoke;
  }
  th{
  text-align: center;
  }
  
  td{
  text-align: center;
  }


  .mat-table-sticky {
    position: sticky;
    top: 0;
    z-index: 0;
  background-color: #282828;
  }
  
  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 300px;
    overflow: auto;
    width: 550px;
    max-width: 100%;
  }
  .example-container {
    height: 300px;
    overflow: auto;
  }
  .container{
    margin-bottom:2.5rem;
  }
  /* .clock {
    text-align: center;
    font-size: 18px;
  
    align-self: flex-end;
  } */
  .clock {
    text-align: center;
    align-items: center;
  }
  .animated-clock {
    font-size: 2rem;
    color: plum;
    background-color: black;
    padding: 10px;
    /* border-radius: 10px; */
    animation: fade-in 1s ease-in-out;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .demo-button-container {
    padding-bottom: 16px;
  }

  .demo-button + .demo-button {
    margin-left: 8px;
  }
  @media(max-width:550px){
    .text-hide{
      display: none;
    }
  }
  mat-card{
	border-radius: 20px;
	text-align: center;
  }


 
  

